.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ddeeff;
    border-bottom: 1px solid #eaeaea;
    font-size: larger;
    justify-content: space-between; 
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .nav a {
    text-decoration: none;
    color: #333;
  }
  
  .userMenu {
    display: flex;
    align-items: center; 
  }
  
  .userName {
    margin-right: 40px;
    font-weight: bolder;
  }
  
  .logoutButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #df0000;
  }
  
  .loginButton {
    background-color: #0070f3;
    padding: 8px;
    border-radius: 30px;
    color: #fff;
  }

  .logo{
    height: 25px;
  }
  
